.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    a {
      font-weight: bold;
      color: #2c3e50;
      &.nav__item {
        &:active {
          color: #42b983;
        }
      }
    }

    .nav {
      &__item {
        text-decoration: none;
        margin-right: 0.5rem;
        display: flex;
        gap: 10px;

        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }

      &__logo {
        display: flex;
        align-items: center;

        &__image {
          max-width: 100%;
          width: 200px;
        }
      }
    }
  }
}
