.login {
  &__content {
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__icon {
    font-size: 5rem;
  }

  .input {
    &__wrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;

      label {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        gap: 5px;
      }

      input {
        padding: 5px;
        font-size: 1.2rem;
        border-radius: 5px;
        border: 1px solid black;
      }
    }

    &__remember {
      display: flex;

      label {
        display: flex;
        margin-left: 0.25rem;
        gap: 10px;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    border-radius: 15px;
    background-color: #00bc77;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: darken(#00bc77, 10%);
    }
  }
}
